* {
    font-family: 'Montserrat', sans-serif !important;
}

:root{
    --cor-azul: #1a49a0;
    --cor-preta: #000;
    --cor-amarela1: #FFDD01;
}

.navbar-nav li a {
    color: #000 !important;
}

.title-page {
    color: #000;
    font-weight: bold;
}

.text-warning {
    color: #FFDD01 !important;
}

.text-blue{
    color: var(--cor-azul);
}

.text-black {
    color: #000 !important;
}

.bg-black {
    background-color: #000;
}






.avatar-sm {
    border: var(--cor-azul) solid 1px;
    background-color: #fff;
    border-radius: 10px;
}

.btn-warning {
    background-color: #FFDD01 !important;
    border-color: #FFDD01 !important;
}

.btn-warning:hover {
    border-color: #FFDD01 !important;
}

.page-link {
    color: #000 !important;
    padding: 20px;
}

.page-link:hover {
    color: #000 !important;
    font-weight: bold;
    text-decoration: underline !important;
}

.title-razao h5 {
    color: #000;
    font-weight: bold;
}

.title-razao h5:hover {
    /* color: #FFDD01; */
    font-weight: bold;
    text-decoration: underline;
}

.title-razao p {
    color: #000;
}


.title-section {
    /* background-color: #000; */
    /* color: #000; */
    display: inline-block;
    /* font-weight: bold; */
    padding: 20px;
    border-radius: 40px;
    margin-top: 20px;
    font-size: 2rem;
    /* border-bottom: double #000 5px; */

    background: linear-gradient(90deg, var(--cor-azul), #000); /* azul para rosa */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description-section {
    font-size: 1.1rem;
    color: #555;
    opacity: 0.7;
}

/* Container para os cards */
.lista-cursos {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Estilo dos cards */
.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

/* Estilo das imagens dos cards */
.card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

/* Estilo do conteúdo dos cards */
.card-content {
    padding: 15px;
}

.card-title {
    display: block;
    margin-top: -10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
    cursor: pointer;
    text-align: left;
}

.card-date {
    font-size: 11px;
    text-align: center;
    color: var(--cor-azul);
    border: solid 1px var(--cor-azul);
    padding: 3px 10px;
    border-radius: 5px;
    font-weight: bold;
    /* opacity: 0.7; */
}

.card-title:hover {
    text-decoration: underline;
}


.card-description {
    font-size: 0.9rem;
    color: #555;
    text-align: left;
    /* opacity: 0.7; */
}

.team-name {
    font-size: 15px;
    text-align: center;
    color: #FFDD01;
    background-color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}